<html>
    <head>
        <title>Matt's Blog</title>
    </head>
        <body>
            <div>
                <h1><a href="">Matt's First Blog</a></h1>
            </div>
            
            <div>
                <p>Published: 10/18/2015, 18:10</p>
                <h2><a href="">My first post</a></h2>
                <p>And now some random text to fill out the space</p>
            </div>
            
            <div>
                <p>Published: 10/18/2015, 19:33</p>
                <h2><a href="">My second post</a></h2>
                <p>Some more random text to fill out the space</p>
            </div>
        </body>
</html>